.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-bg-light;
    cursor: pointer;
    @extend %transition;

    &_rounded {
        padding: 23px 66px;
        @include font("Roboto", 2.2rem, 300, normal, 0.2rem);
        border-radius: px10;
        background: $color-bg-primary;
        &:hover {
            background: $color-font-gold;
        }
    }

    &_square {
        padding: 24px 38px;
        @include font("Roboto", 2.2rem, 300, normal, 0.2rem);
        border-radius: 2px;
        background: $color-bg-dark;
        &:hover {
            color: $color-bg-dark;
            background: $color-font-gold;
        }
    }

}