.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-bg-light;
    cursor: pointer;
    @extend %transition;

    &_rounded {
        padding: 23px 66px;
        @include font("Roboto", 2.2rem, 300, normal, 0.2rem);
        border-radius: 10px;
        background: $color-bg-primary;
        &:hover {
            background: $color-font-gold;
        }
        @include media-laptop {
            padding: 18px 45px;
            font-size: 2rem;
        }
    }

    &_square {
        padding: 12px 38px;
        @include font("Roboto", 2.2rem, 300, normal, 0.2rem);
        border-radius: 2px;
        background: $color-bg-dark;
        &:hover {
            color: $color-bg-dark;
            background: $color-font-gold;
        }
        @include media-laptop {
            padding: 12px 20px;
            width: 175px;
            height: 50px;
        }
        @include media-mobile {
            font-size: 1.6rem;
        }
    }

}