input[type=number] {
    padding: 0;
    @include font("Roboto", 2.2rem, 300, normal, normal);
    color: $color-font-black;
    border: none;
}

input[type=radio]:checked+label:before,
input[type=radio]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 17px;
    height: 17px;
    border: 2px solid $color-font-black;
    border-radius: 50%;
}

input[type=radio]:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $color-font-black;
}