input[type=number] {
    padding: 0;
    @include font("Roboto", 2.2rem, 300, normal, normal);
    color: $color-font-black;
    border: none;
    @extend %transition;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    &:hover {
        text-shadow: 0 0 1px $color-bg-dark;
    }
    &:focus {
        background-color: $color-input-hover;
    }
}

input[type=radio] + label {
    @extend %transition;
    &:hover {
        text-shadow: 0 0 2px $color-bg-dark;
    }
}

input[type=radio]:checked + label:before,
input[type=radio]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 17px;
    height: 17px;
    border: 2px solid $color-font-black;
    border-radius: 50%;
}

input[type=radio]:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $color-font-black;
}