.logo {
    display: flex;
    align-items: center;
    column-gap: 25px;
    .footer & {
        align-items: flex-start;
    }
}

.logo__img {
    @include media-mobile {
        width: 29px;
    }
}

.logo__text {
    @include font("Forum", 2.8rem, 400, normal, 0.5rem, uppercase);
    color: $color-bg-light;
    @include media-mobile {
        font-size: 1.6rem;
    }
}