$color-bg-dark: #030303;
$color-bg-light: #ffffff;
$color-bg-primary: #710707;
$color-font-gold: #9D8665;
$color-font-black: #000000;
$color-link-active: #7E6C51;
$color-icon: #B3B3B3;
$color-icon-hover: #989898;
$color-border: #666666;

$desktop: 1440px;
$desktop2: 1024px;
$tablet: 768px;
$mobile: 420px;
$mobile2: 320px;