@mixin font($font_family, $font-size, $font-weight, $line-height, $letter-spacing: normal, $text-transform: none) {
    font-family: $font_family;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    text-transform: $text-transform;
}

@mixin columns($width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    *> {
        flex-basis: $width;
    }
}

@mixin section-title {
    padding-bottom: 25px;
    border-bottom: 3px solid $color-bg-primary;
    margin-bottom: 75px;
    @include media-laptop {
        padding-bottom: 20px;
        margin-bottom: 60px;
    }
    @include media-tablet {
        margin-bottom: 40px;
    }
}

@mixin media-desktop-additional {
    @media (max-width: $desktop-additional) { @content; }
}

@mixin media-laptop {
    @media (max-width: $laptop) { @content; }
}

@mixin media-tablet {
    @media (max-width: $tablet) { @content; }
}

@mixin media-mobile {
    @media (max-width: $mobile) { @content; }
}