%transition {
    transition: all 0.4s ease-out;
}

%section-padding {
    padding: 75px 0;
}

%section-title {
    padding-bottom: 25px;
    border-bottom: 3px solid $color-bg-primary;
    margin-bottom: 75px;
}