.carousel {
    position: absolute;
    bottom: -60px;
    width: 600px;
    padding: 52px 74px;

    display: flex;
    column-gap: 60px;

    background-color: $color-bg-dark;
}

.carousel-buttons {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.carousel__item {
    width: 16px;
    height: 16px;
    background-color: $color-bg-light;
    &_active {
        background-color: $color-font-gold;
    }
}

.carousel-arrows {
    display: flex;
    align-items: center;
}

.carousel-arrow {
    display: block;
    width: 40px;
    height: 8px;
    &_left {
        background-image: url(../img/icons/arrow_left.svg);
    }
    &_right {
        background-image: url(../img/icons/arrow_right.svg);
    }
}