.navigation {
    margin: 0;
    padding: 0;

    display: flex;
    column-gap: 55px;
    .footer__navigation & {
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 25px;
        column-gap: unset;
        height: 100%;
        align-content: space-between;
    }
}

.navigation__link {
    @include font("Roboto", 2.2rem, 100, normal, 0.21rem);
    color: $color-bg-light;
    @extend %transition;
    &:hover {
        color: $color-font-gold;
    }
    &:active {
        color: $color-font-gold;
    }
    @include media-tablet {
        font-size: 1.8rem;
        letter-spacing: 0.2rem;
    }
    @include media-mobile {
        font-size: 1.6rem;
    }
}

.header__navigation {
    @include media-laptop {
        display: none;
    }
}