.picture-slider {
    position: relative;
    font-size: 0;
    overflow: hidden;
}

.picture-slider__img {
    object-fit: cover;
    width: 100%;
    &_after {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        object-position: right;
    }
}

.picture-slider__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.picture-slider__button {
    position: absolute;
    top: 0;
    left: calc(60% - 15px);
    z-index: 2;
}

.picture-slider__icon {
    display: block;
    width: 39px;
    height: 700px;
    background-image: url(../img/icons/explore_slider.svg);
    background-position: center;
    background-size: cover;
    @include media-tablet {
        height: 95vw;
        width: 5vw;
    }
}