.slider {
    position: relative;

    display: flex;
    justify-content: flex-end;
    @include media-tablet {
        flex-wrap: wrap;
    }
}

.slider__images {
    font-size: 0;
}

.slider__item {
    position: relative;
    display: none;
    &_active {
        display: block;
    }
    &::before {
        content: "";
        position: absolute;
        left: 0;
        z-index: 5;
        height: 100%;
        width: 100%;
        background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
    }
    @include media-tablet {
        background: none;
    }
}

.slider__img {
    @include media-laptop {
        width: 700px;
    }
    @include media-tablet {
        width: 100%;
    }
}