.tour {
    display: flex;
    flex-direction: column;
}

.tour__img-wrapper {
    overflow: hidden;
}

.tour__img {
    @extend %transition;
    .tour__link:hover & {
        transform: scale(1.2);
    }
}

.tour__title {
    position: relative;
    margin: 20px 0;
    &::after {
        content: '';
        position: absolute;
        width: 300px;
        height: 2px;
        left: 0;
        bottom: -11px;
        background-color: $color-bg-primary;
        @extend %transition;
    }
    .tour__link:hover &::after {
        width: 100%;
    }
}

.tour__type {
    margin-bottom: 10px;
    @include font("Roboto", 2.2rem, 100, normal, normal, capitalize);
    color: $color-font-black;
}

.tour__desc {
    @include font("Roboto", 1.8rem, 100, normal, normal, capitalize);
    color: $color-font-black;
}