.video-player {
    position: relative;
    font-size: 0;
    margin-bottom: 40px;
    @include media-tablet {
        margin-bottom: 17px;
    }
    @include media-mobile {
        margin-bottom: 40px;
    }
}

.video-player__video {
    width: 100%;
    aspect-ratio: 1440 / 650;
    object-fit: cover;
    outline: none;
}

.video-player__middle-button {
    position: absolute;
    z-index: 3;
    top: calc(50% - 21%);
    left: calc(50% - 7.5%);
    width: 15%;
    aspect-ratio: 220 / 220;
    background: no-repeat center url(../img/video_player/play_middle_desktop.svg);
    background-size: cover;
    cursor: pointer;
    @extend %transition;
    @include media-tablet {
        width: 11%;
        top: calc(50% - 18%);
        left: calc(50% - 5.5%);
    }
    @include media-mobile {
        width: 13%;
        top: calc(50% - 24%);
        left: calc(50% - 6.5%);
    }
}

.player-controls {
    width: 100%;
    padding: 25px 30px;

    display: flex;
    align-items: center;
    column-gap: 50px;
    background-color: $color-font-black;
    @include media-laptop {
        padding: 12px 40px;
        column-gap: 30px;
    }
    @include media-tablet {
        position: relative;
        padding: 12px 30px;
    }
    @include media-mobile {
        padding: 9px 20px;
    }
}

.player-controls__button {
    @include media-laptop {
        width: 26px;
    }
    @include media-mobile {
        width: 14px;
    }
}

.player-controls__svg {
    cursor: pointer;
    &:hover {
        .svg-path {
            @extend %transition;
            fill: $color-video-hover;
        }
    }
}

.player-controls__timer {
    width: 68.5%;
    @include media-laptop {
        width: 62%;
    }
    @include media-tablet {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }
}

.player-controls__volume {
    width: 11.5%;
    @include media-laptop {
        width: 16%;
    }
    @include media-tablet {
        width: 75%;
    }
}

.player-controls__range {
    width: 100%;
    height: 8px;
    background: linear-gradient(to right, $color-bg-primary 0%, $color-bg-primary 0%, $color-video-range 0%, $color-video-range 100%);
    outline: none;
    -webkit-appearance: none;
    &::-webkit-slider-thumb {
        height: 15px;
        width: 15px;
        border-radius: 50px;
        background: $color-bg-light;
        cursor: pointer;
        -webkit-appearance: none;
        @include media-laptop {
            height: 13px;
            width: 13px;
        }
        @include media-mobile {
            height: 10px;
            width: 10px;
        }
    }
    @include media-laptop {
        height: 5px;
    }
    @include media-mobile {
        height: 4px;
    }
}