.welcome {
    padding-bottom: 60px;
    background-color: $color-bg-dark;
}

.welcome__wrapper {
    position: relative;

    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.welcome__content {
    position: absolute;
    top: 150px;
    left: 0;
    z-index: 10;

    width: 600px;
}

.welcome__button {
    width: fit-content;
}

.welcome__title {
    margin-bottom: 25px;

    color: $color-bg-light;
    line-height: 9rem;
}

.welcome__description {
    margin-bottom: 75px;

    font-size: 2.8rem;
    line-height: normal;
    letter-spacing: 0.2rem;
}