.header {
    background-color: $color-bg-dark;
}

.header__wrapper {
    padding: 58px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-laptop {
        padding: 48px 20px;
    }
    @include media-tablet {
        padding: 35px 20px;
    }
}